<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <!-- bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include("partials/navbar.ejs") %>

    <div class="container">
      <h1>Home Page</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias
        accusantium exercitationem adipisci saepe! Enim quidem, porro possimus
        excepturi aspernatur dicta ea odit officiis fuga aperiam, cum debitis!
        Quidem, praesentium tenetur.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias
        accusantium exercitationem adipisci saepe! Enim quidem, porro possimus
        excepturi aspernatur dicta ea odit officiis fuga aperiam, cum debitis!
        Quidem, praesentium tenetur.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias
        accusantium exercitationem adipisci saepe! Enim quidem, porro possimus
        excepturi aspernatur dicta ea odit officiis fuga aperiam, cum debitis!
        Quidem, praesentium tenetur.
      </p>
    </div>

    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
