<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>

    <!-- bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include("partials/navbar.ejs") %>

    <div class="container">
      <h1>Contact Us Page</h1>

      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus
        officia, doloremque reprehenderit nam inventore accusantium repudiandae
        corporis quae eveniet facere amet consequuntur aperiam, molestias, error
        minima dignissimos repellat laborum eum.
      </p>
    </div>

    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
